@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*input[type="text"]:focus, button,
input {
    appearance: none;
    outline: none;
}

.hide {
    display: none;
}

body {
    background-color: #F4F5FB;
}

li {
    list-style: none;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 1.25rem auto;
    justify-content: center;
    max-width: 40em;
    gap: 1rem ;
    padding-inline: 2rem;
}